body {
    background-color: #f5f5f5;
}
div {
    box-sizing: border-box;
    display: block;
}
h1 {
    color: #696969;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    text-align: center;
}

.header {
    /*font-family: sans-serif;*/
}

input {
    margin: 0;
    padding: 9px;
    /*border: solid 1px #e5e5e5;*/
    border: none;
    outline: 0;
    font: normal 18px/100% sans-serif;
    width: 200px;
    background: #d3d3d3;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    background: -webkit-gradient(linear, left top, left 25, from(#eee), color-stop(4%, #eee), to(#fff));
}
#quadratic_container {
    margin: 0;
    padding: 9px;
    /*border: solid 1px #e5e5e5;*/
    border: none;
    outline: 0;
    font: normal 18px/100% sans-serif;
    width: 20px;
    background: #d3d3d3;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    background: -webkit-gradient(linear, left top, left 25, from(#eee), color-stop(4%, #eee), to(#fff));
}

#quadratic_container input{
    box-shadow: none;
    width: 20px;
}


input:hover,
input:focus {
    border-color: #c9c9c9;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 8px;
}

#submit_arithmetic {
    width: auto;
    padding: 10px 35px;
    background: #aaccaa;
    border: solid 1px #aaccaa;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

#submit_quadratic {
    width: auto;
    padding: 10px 35px;
    background: #33ccaa;
    border: solid 1px #33ccaa;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
}