<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="addition" class="by.shatunov.computator.operations.Addition"/>
    <bean id="subtraction" class="by.shatunov.computator.operations.Subtraction"/>
    <bean id="multiplication" class="by.shatunov.computator.operations.Multiplication"/>
    <bean id="division" class="by.shatunov.computator.operations.Division"/>

    <bean id="quadratic" class="by.shatunov.computator.operations.Solver">
        <property name="plus" ref="addition"/>
        <property name="minus" ref="subtraction"/>
        <property name="multiply" ref="multiplication"/>
        <property name="divide" ref="division"/>
    </bean>

</beans>